@font-face {
	font-family: 'Raleway', sans-serif;
	src: url("/fonts/Raleway-Light.ttf") format('truetype'),
    	url('raleway-light-webfont.woff2') format('woff2'),
       	url('raleway-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
	font-family: 'Raleway', sans-serif;
	src: url("/fonts/Raleway-Regular.ttf") format('truetype'),
    	url('raleway-regular-webfont.woff2') format('woff2'),
        url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Raleway', sans-serif;
	src: url("/fonts/Raleway-Bold.ttf") format('truetype'),
    	url('raleway-bold-webfont.woff2') format('woff2'),
       	url('raleway-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
	font-family: 'Raleway', sans-serif;
	src: url("/fonts/Raleway-Black.ttf") format('truetype'),
		url('raleway-black-webfont.woff2') format('woff2'),
       	url('raleway-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

.clearFix {
	content: "";
	display: table;
	clear: both;
}

#achtergrond {
	width: 100%; 
	height: 100%;
	margin: 0 auto;
}

#header {
	width: 100%; 
	height: 70px;
	float: left;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	/* background-color: #fcfcfc; */
	
}

#header img{
	width: 180px; 
	height: 60px;
	float: left;	
	margin-left: 10px;
	margin-top: 6px;
}

.streepje{
	width: 1px; 
	height: 70px;
	float: left;	
	background-color: #ededed ;
}

.languageBtn{
	width: 35px;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration:none;
	color: #bababa;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 70px;
}

#languageSelect {
	float: left;
	height: 100%;
}

.languageBtn.active{
	color: black;
}

#header .desktopMenu {
	float: right;
	height: 100%;
}

#menuBtn {
	float: right;
	line-height: 70px;
	margin-right: 27px;
	font-weight: 700;
	cursor: pointer;
	display: none;
	font-size: 24px;
	color: #bababa;
}

#menuBtn:focus{
	display: block;
}

#header .mobileMenu {
	display: none;
	background: #fafafa;

	position: absolute;
	top: 70px;
	right: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#header .mobileMenu.active {
	display: block;
}

#header .mobileMenu::before {
	content: "";
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	position: absolute;
    top: -10px;
    right: 4px;
    background: #fafafa;
}

#header .desktopMenu li{
	padding: 0 20px ;
	display: inline-block;
	font-weight: 700;
	text-align: center;
	list-style-type: none;
	margin-right: 10px;
	line-height: 70px;
	position: relative;
}

#header .mobileMenu li{
	padding: 10px 20px ;
	display: block;
	font-weight: 700;
	text-align: right;
	list-style-type: none;
	margin-top: 10px;
}

#header .mobileMenu li:first-child{
	margin-top: 0;
}

#header .mobileMenu .dropdown .dropdown-content {
	display: none;
	height: 0;
}

#header .mobileMenu .dropdown:hover .dropdown-content {
	display: block;
	height: auto;
}

#header .mobileMenu .dropdown-content a {
	padding: 10px 0;
	display: block;
	font-weight: 700;
	text-align: right;
	list-style-type: none;
	margin: 0;
	margin-top: 10px;
	position: relative;
	font-size: 14px;
}

#header .desktopMenu li::after, #header .desktopMenu a::after {
	content: "";
	width: 0;
	height: 2px;
	background-color: #252525;
	z-index: 999999;
	position: absolute;
	bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s all;
}

#header .desktopMenu li:hover::after, #header .desktopMenu a:hover::after {
	width: 50%;
}

#header .desktopMenu .dropdown:hover .dropdown-content {
	display: block;
}

#header .desktopMenu .dropdown-content {
	display: none;
	background: #fafafa;

	position: absolute;
	top: 70px;
	right: 20px;
	padding: 0 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#header .desktopMenu .dropdown-content::before {
	content: "";
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	position: absolute;
    top: -10px;
    right: 4px;
    background: #fafafa;
}

#header .desktopMenu .dropdown-content a {
	display: block;
	font-weight: 700;
	text-align: right;
	list-style-type: none;
	margin: 0;
	margin-top: 10px;
	position: relative;
}

#header .desktopMenu .dropdown-content a:first-child{
	margin-top: 0;
}

#content{
	width: 100%;
	/* background-image:url(images/achtergrondhh.png); */
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}



#textbox h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 44px;	
	margin-top: 50px;
}

#textbox p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin-top: 25px;
}

#tekstbox h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 44px;	
	margin-top: 50px;
}

#tekstbox p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin-top: 25px;
}

.moreknop{
	padding: 8px 20px;
	background-color: #62a7db;
	float: left;
	margin-top: 35px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

#footer {
	width: 100%; 
	height: 200px;
	background-color: #E56399; 
	float: left;

	/* background-color: #62a7db; */
	/* background-color: #cce8cc; */

}

#footercontent {
	width: 100%; 
	height: 200px;
	margin: 0px auto;
        overflow: hidden;
}

.Links {
	width: 140px; 
	height: 170px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;

}

.Links li{	
	list-style-type: none;
	font-size: 13px;
	
}

.Links li a {	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white;
	
}

.Links p{	
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: white; 
	list-style-type: none;
	margin-bottom: 10px;
}

#gegevens {	
	width: 310px; 
	height: 170px;
	margin-top: 30px;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white; 
	font-size: 13px;


}

#gegevens a{	
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: white;

}

#backtotop{
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #db5d8f;
	float: left;
	/* background-color: #5d9ccc; */ 
	/* background-color: #bad1b8; */ 
}
	
#backtotop p{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: white; 
	padding: 7px;
}

#backtotop a{
	text-decoration:none;
}


.bollen{
	height: 175px;
	width: 50%;
	float: left;
}


#backgroundimage{
	background-image:url(../images/bg_hh_2.png);
	height: 700px;
	width: 700px;
	float: right;
	background-repeat: no-repeat;
	background-size: 700px;
	max-width: 100%;
}

#textbox{
    width: 46%;
    /* max-width: 100%; */
    /* height: 50%; */
    position: absolute;
   	padding: 0 2%;
   	box-sizing: border-box; 
    top: 45%;
    transform: translateY(-50%);
    float: left;
	
	
}

#achtergrondcontent{
	float: right;
	width: 50%;
	height: 700px;
}

#tekstbox{
	width: 100%;
	/* max-width: 100%; */
	height: 50%;
	/* position: absolute; */
	padding: 0 2%; 
	/* top: 53%; */ 
	/* transform: translateY(-50%); */ 
	float: left;	
}

.informatiecontent{
	background-color: none;
	width: calc(100% - 40px);
	max-width: 960px;
	margin: 50px auto;
}

.informatiecontent h1{
	background-color: none;
	margin-bottom: 5px;
	font-size: 22px;
}

.informatiecontent p{
	width: 100%;
/*	margin-right: 20%;
	margin-top: 10px;
	margin-bottom: 20px;*/
	margin: 0;
	font-size: 12px;
}

#pinbox {
	margin-top: 50px;
}


#pinbox h1{
	font-size: 18px;
	width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
}

#pinbox p{
	width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
    margin-top: 4px;
}
.punten{
	width: 33%;
	float: left;
}

.punten img{
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.meerknop{
    margin: 20px auto;
    text-align: center;
}

.meerknop a {
    padding: 10px 20px;
    background-color: #62a7db;
    margin: 20px auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.meerknop a:hover {
    background-color: #2f8ad0;
}

#textbox .meerknop {
	margin: 40px 0 40px auto;
	text-align: left;
}

#opleidingen{
	text-align: center;
} 

#opleidingen img{
	width: 100%;
	min-height: 100%;
	opacity: 0.25;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pinkblue{
	position: relative;
    width: calc(33% - 20px);
    height: 25vw;
    max-height: 300px;
	background-color: #E56399;
    display: inline-block;
    margin: 10px 0;
    overflow: hidden;
    color: white;
}

.pinkblue:nth-child(3n+2):not(:last-child) {
    margin: 10px 20px;
}

.opleidingtekst{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-weight: 700;
	font-size: 17px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*^vvvvv contactpagina vvvvvv */
#contactcontent{
	width: 80%;
	padding: 40px 0;
	margin-left: 10%;
	margin-right: 10%;
}

#contactcontent h1{
	margin-top: 100px;
	text-align: left;
	margin-bottom: 10px;
	/* font-size: 44px; */
	font-size: 30px;
}

#contactcontent h2{
	margin-top: 25px;
	text-align: left;
	margin-bottom: 5px;
	font-size: 20px;
}

#contactcontent a{
	color: #62a7db;
	font-weight: 700;
}

#contactcontent p{
	text-align: left;
	font-size: 12px;
}

#telefoonnummer a{
	pointer-events: none;
	cursor: default;
	color: black;
	font-weight: normal;
	text-align: left;
}

#mapid{ 
	margin: 0 auto; 
	margin-top: 15px; 
	width: 100%; 
	height: 400px;
}

input{
	margin-bottom:10px;
       	margin-top:10px;
}

select{
	margin-bottom:15px;
	width:248px;
}

#geslacht{
	float:left;
}

.geslacht{
	margin-left:23px;
}

#voornaam{
	width:120px;
}

#email{
	width:222px;
}

#emailen{
	width:215px;
}

#tel{
	width:188px;
}

#telen{
	width:240px;
}

#textarea{
	width:325px;
	resize: none;
}

.formulier h3, h2{
    margin-bottom: 5px;
    margin-bottom: 10px;
}

abbr{
    background-color: #62a7db;
    color: white;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 200px;
    border-radius: 25px;
}

.engelsdesktop{
    display: inline;
}

.formuliercontent hr{
    margin-bottom: 40px;
    margin-top: 25px;
}

#verstuur{
    background-color: #62a7db;
    color: white;
    font-weight: bold;
    border: solid #62a7db 5px;
    font-size: 15px;
}


/*^^^^^contactpagina^^^^*/

/*algemeneopleidingen*/
#backgroundimageopleidingen{
	background-image:url(../images/opleidingenachtergrond.png);
	height: 700px;
	width: 700px;
	float: right;
	background-repeat: no-repeat;
	background-size: 700px;
	max-width: 100%;
}
/*algemeneopleidingen*/

/*het gedeelte hieronder is voor de agenda*/
div .agendadiv {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    float: left;
  }

  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: red;
  }

  #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
    margin-bottom: 50px;
  }
/*het gedeelte hierboven is voor de agenda*/


@media screen and (max-width: 1800px) {
    .engelseopleiding{
        display: none;
    }
}

@media screen and (max-width: 900px) {
	#header .desktopMenu {
		display: none;
	}

	#menuBtn {
		display: block;
	}
	

	#gegevens {
		display: none;
	}

	

}

@media screen and (max-width: 600px) {
    
        #voornaam{
            width: 90%;
            height: 25px;
        }

        #achternaam{
            width: 90%;
            height: 25px;
            padding-top: 1px;
            margin-top: 1px;
        }
        
        #email{
            width: 90%;
            height: 25px;
            margin-top: 10px;
        }
        
        #geslacht{
            width: 90%;
            height: 25px;
            margin-top: 10px;
        }
        
        .geslacht{
            margin-top: 0 px;
            margin-bottom: 20px;
        }
        
        #tel{
            width: 90%;
            height: 25px;
            margin-top: 10px;
        }
        
        #opleiding{
            width: 90%;
            height: 35px;
            margin-top: 10px;
        }
        

        .formuliercontent hr{
            display: none;
        }
 
        #verstuur{
            margin-bottom: 100px;
        }
        
	.middelsteBlok p{
	    width: 90%;
            min-height: 170px;
            float: left;
	    margin: 0 auto;
	    margin-right: 0;
	    margin-left: 0;
	}

	.middelsteBlok h2{
	    width: 90%;
	    float: left;
	    margin: 0 auto;
	    margin-right: 0;
	    margin-left: 2%;
	}

	.pinkblue{
	    height: 100vw;
	}
        
	#mapid{
		height: 600px;
		width: 300px;
	}
	
        .formulier {
            margin-left: 20px;
            margin-right: 10px;
        }
	#contactcontent{
		width: 100%;
		height: 2400px;
		margin-left: 0%;
		margin-right: 0%;
                margin-bottom: 0;
                float: left;
	}
	
       .formuliercontent{
            width:95%;
            margin-left: 0%;
            margin-right: 5%;
            margin-bottom: 0;
            float: left;
	}
        
	#contactcontent h1, p, h2{
		margin-left: 20px;
	}
	
	#textbox h1{
		font-size: 28px;
	}
	
	#contactcontent a{
		font-size: 17px;
	}
	
	#textbox {
		padding: 0;
		width: calc(100% - 40px);
		height: 500px;
		margin: 0 auto;
		float: left;
		margin-top: 400px;
		margin-left: 20px;
	    /* transform: translate(-50%, -50%); */
	} 	
	
	.informatiecontent{
		margin: 0 auto;
		margin-top: 700px;
		float: left;			
		box-sizing: border-box; 
		margin-left: 20px;		

	}
	
	#achtergrondcontent {
		display: none;
	}

	.meerknop{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#textbox .meerknop {
		width: auto;
		text-align: center;
	}

}

@media screen and (max-width: 450px) {
	
	.opleidingtekst p{
		font-size: 22px;
	}
	
	#informatiecontent p{
	font-size: 14px;
	}
	
	#contactcontent p{
	font-size: 14px;
	}
        
        abbr{
            display: none;
        }
        
        .engelsdesktop{
            display: none;
        }
        
        
        .engelseopleiding{
            display: inline;
            margin-left: 0px;
        }      
   
            

}
@media screen and (max-width: 720px) {

	.punten{
		width: 100%;
		text-align: center;
	}

	.punten img {
		float: none;
	}

	#pinbox h1, #pinbox p{
		padding: 0;
	}
	.pinkblue{
		width: 100%;
	}

	.pinkblue:nth-child(3n+2):not(:last-child) {
		margin: 10px 0;
	}
	

	
	
}
.nonclick {
    position: absolute;
    height: 100%;
    width: 100%;

}
.rel {
    position: relative;
    width: 100%;
}
.rssGround iframe {
    width: 28.33%;
    min-width: 236px;
    float: left;
    margin-top: 8%;
}
.bovensteBalk {
    height: 100px;
    width: 100%;
    /*background-color: green;*/
}
.middelsteBlok {
    width: 28.33%;
    float: left;
    height: 500px;
    margin-left: 4%;
    background-color: #f2f2f2;
    margin-top: 8%;
    min-width: 272.445px;
    margin-bottom: 25px;
    /*border: solid 1px #bababa;*/
}
.middelsteBlok img{
    width: 100%;
    border-radius: 2px;
    
}

.middelsteBlok p{
    width: 96%;
    padding: 2%;
    min-height: 125px;
    float: left;
}


.rechterBlok {
    width: 28.33%;
    float: left;
    height: 200px;
    margin-left: 4%;
    background-color: #f2f2f2;
    margin-top: 8%;
    min-width: 272.445px;
    /*border: solid 1px #bababa;*/
}
.feed-container {
    font-size: 12px;
    color: #fff;
    border: 1px solid #CCCCCC;
}
.feed-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 498px;
}
.rssFeedBox {
    background-color: #f2f2f2;
    width: 28.33%;
    height: 498px;
    float: left;
    overflow-y: scroll;
    margin-top: 8%;
    min-width: 290.445px;
    margin-left: 4%;
}

.fontSize {
    font-size: 140%;
    font-weight: 700;
}

#textbox{
    text-align: left;
}
#ecocontentbox{
    margin-top: 75px;
    float: left;
    overflow: hidden;
    background-color: none;
    width: 100%;
    /*Height: 1000px*/
    height: 120%;
    padding-bottom: 50px;
} 
#backgroundimageECO{
	background-image:url(../images/economieachtergrond.png);
	height: 700px;
	width: 700px;
	float: right;
	background-repeat: no-repeat;
	background-size: 700px;
	max-width: 100%;
}

#backgroundimageTECH{
	background-image:url(../images/techniekachtergrond.png);
	height: 700px;
	width: 700px;
	float: right;
	background-repeat: no-repeat;
	background-size: 700px;
	max-width: 100%;
}
