*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

#achtergrond {
	width: 100%; 
	height: 100%;
	margin: 0 auto;
}

#header {
	width: 100%; 
	height: 70px;
	float: left;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	
}

#header img{
	width: 180px; 
	height: 60px;
	float: left;	
	margin-left: 10px;
	margin-top: 6px;
}

#streepje{
	width: 1px; 
	height: 70px;
	float: left;	
	background-color: #e3e1df ;
}

.languageBtn{
	width: 35px;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration:none;
	color: #e3e1df;
	text-align: center;
	margin-left: 10px;
	line-height: 70px;
}

#languageSelect {
	float: left;
	height: 100%;
}

.languageBtn.active{
	color: #000;
}

#header #desktopMenu {
	float: right;
	height: 100%;
}

#menuBtn {
	float: right;
	line-height: 70px;
	margin-right: 20px;
	font-weight: bold;
	cursor: pointer;
	display: none;
}

#menuBtn:focus{
	display: block;
}

#header #mobileMenu {
	float: right;
	display: none;
	background: #fafafa;

	position: absolute;
	top: 70px;
	right: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#header #mobileMenu.active {
	display: block;
}

#header #mobileMenu::before {
	content: "";
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	position: absolute;
    top: -10px;
    right: 4px;
    background: #fafafa;
}

#header #desktopMenu li{
	padding: 0 20px ;
	display: inline-block;
	font-weight: 700;
	text-align: center;
	list-style-type: none;
	margin-right: 10px;
	line-height: 70px;
}

#header #mobileMenu li{
	padding: 10px 20px ;
	display: block;
	font-weight: 700;
	text-align: right;
	list-style-type: none;
	margin-top: 10px;
}

#header #mobileMenu li:first-child{
	margin-top: 0;
}

#content{
	width: 100%; 
	height: 700px;
	background-image:url(images/achtergrondhh.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#textbox{
	width: 520px;
	max-width: 100%;
	position: absolute;
	padding: 0 45px;
	top: 53%;
	transform: translateY(-50%);
	
}

#textbox h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 44px;	
	margin-top: 50px;
}

#textbox p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin-top: 25px;
}

.moreknop{
	padding: 8px 20px;
	background-color: #62a7db;
	float: left;
	margin-top: 35px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: none;

	
}

#footer {
	width: 100%; 
	height: 200px;
	/* background-color: #E56399; */
	background-color: #62a7db; 
	/* background-color: #cce8cc; */


}

#footercontent {
	width: 100%; 
	height: 200px;
	margin: 0px auto;
}

.Links {
	width: 180px; 
	height: 170px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;	
}

.Links li{	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white; 
	list-style-type: none;
	font-size: 13px;
	
}

.Links p{	
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: white; 
	list-style-type: none;
	margin-bottom: 10px;
}

#gegevens{	
	width: 310px; 
	height: 170px;
	margin-top: 30px;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white; 
	font-size: 13px;
}

#backtotop{
	width: 100%;
	height: 30px;
	text-align: center;
	/* background-color: #db5d8f; */
	background-color: #5d9ccc; 
	/* background-color: #bad1b8; */ 
}
	
#backtotop p{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: white; 
	padding: 6px 6px;
}

#backtotop a{
	text-decoration:none;
}

#contentbox{
	width: 100%;
	height: 300px;
	background-color: white; 
}

@media screen and (max-width: 900px) {
	#header #desktopMenu {
		display: none;
	}

	#menuBtn {
		display: block;
	}
}