*{
	margin: 0;
	padding: 0;
}

body{
	background-image:url(images/achtergrondhh.png);
	background-size: 100%;
	background-repeat: no-repeat;

}

#achtergrond {
	width: 100%; 
	height: 100%;
	margin: 0 auto;
}

#header {
	width: 100%; 
	height: 70px;
	float: left;
	margin: 0 auto;
	
}

#header img{
	width: 180px; 
	height: 60px;
	float: left;	
	margin-left: 10px;
	margin-top: 6px;
}

#streepje{
	width: 1px; 
	height: 70px;
	float: left;	
	background-color: #e3e1df ;
}

#NL{
	height: 70px;
	width: 35px;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration:none;
	color: black;
	text-align: center;
	margin-left: 10px;
	margin-top: 25px;
}

#EN{
	height: 70px;
	width: 35px;
	float: left;
	margin-top: 25px;
}

#EN a{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration:none;
	color: #e3e1df;
	text-align: center;
}

#header li{
	padding: 10px 20px ;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
	list-style-type: none;
	margin-top: 10px;
	margin-right: 10px;
}

#content{
	width: 100%; 
	height: 700px;

	float: left;
}

#textbox{
	width: 520px; 	
	position: absolute;
	top: 53%;
	left: 45px;
	transform: translateY(-50%);
	
}

#textbox h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 44px;	
	margin-top: 50px;
}

#textbox p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin-top: 25px;
}

.moreknop{
	padding: 8px 20px;
	background-color: #62a7db;
	float: left;
	margin-top: 35px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: none;

	
}

#footer {
	width: 100%; 
	height: 200px;
	/* background-color: #E56399; */
	/* background-color: #62a7db; */
	background-color: #cce8cc;
	position: absolute;
	top: 116%;


}

#footercontent {
	width: 800px; 
	height: 200px;
	margin: 0px auto;
}

.Links {
	width: 180px; 
	height: 170px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;	
}

.Links li{	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #6b7869; 
	list-style-type: none;
	font-size: 13px;
	
}

.Links p{	
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #6b7869; 
	list-style-type: none;
	margin-bottom: 10px;
}

#gegevens{	
	width: 310px; 
	height: 170px;
	margin-top: 30px;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #6b7869; 
	font-size: 13px;
}

#backtotop{
	width: 100%;
	height: 30px;
	text-align: center;
	/* background-color: #db5d8f; */
	/* background-color: #5d9ccc; */
	background-color: #bad1b8;
}
	
#backtotop p{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: #6b7869; 
	padding: 6px 6px;
}

#backtotop a{
	text-decoration:none;
}
